# ICON
#
# ------------------------------------------
# Copyright (C) 2004-2026, DWD, MPI-M, DKRZ, KIT, ETH, MeteoSwiss
# Contact information: icon-model.org
# See AUTHORS.TXT for a list of authors
# See LICENSES/ for license information
# SPDX-License-Identifier: BSD-3-Clause
# ------------------------------------------
# Aqua Planet Experiment (APE) - Sapphire Configuration
# author_list="Angel Peinado, MPIM"
# ------------------------------------------
# This file describes an aqua planet experiment based with Sapphire configuration.
# It is based in the APE protocol:
# - constant zonal SST, no land, no sea icem, no aerosol
# - parameterization used Radiation, Turbulence and Micro-physics scheme
# - well mixed greenhouse gases CO2
# - constant O3 concentration
#=============================================================================

EXP_TYPE = AES/ape-R02B04L90
EXP_OPTIONS = suppress_default_output

EXP_ID = ape_from_spinup_short

INPUT_ROOT = /my_test/pool/data

INITIAL_DATE = 1979-01-01
FINAL_DATE = 1979-07-03T12:00:00Z

ATMO_TIME_STEP = PT1M

INTERVAL = P2DT12H

# hack 1
[namelists]
  [[icon_master.namelist]]
    [[[master_nml]]]
      lrestart = true

[jobs]
  # hack 3
  .remove -= run
  [[run]]
    use_mpmd = false
    use_hostfile = false
    use_cpu_mask = false
    nodes = 1
    time_limit = 05:30:00
    .trigger = run
  # hack 2
  [[run_start]]
    .trigger = run

[files]
  [[atmosphere]]
   [[[restart]]]
      .hide = false
      multifile_restart_atm.mfr = ${EXP_ID}_restart_atm_$${start_stamp}Z.nc
      restart_atm_DOM01.nc =

[MPI]
  command = "srun -l --kill-on-bad-exit=1 --cpu-bind=quiet,cores --distribution=plane=$${SLURM_JOB_NUM_NODES} --propagate=STACK,CORE"
